.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    min-height: 90vh;
    padding: 0 20px;
}
.popular h1{
    color: #171717;
    font-size: clamp(32px, 5vw, 50px);
    font-weight: 600;
    text-align: center;
}
.popular hr{
    width: clamp(150px, 30vw, 200px);
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.popular-item {
  margin-top: 50px;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.popular-item img {
  max-width: 100%;
  display: block;
  object-fit: contain;          
}

